# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
max_line_length = 120

[*.{ts,js}]
tab_width = 4
indent_size = 2

[*.{html,xml,java,py}]
tab_width = 4
indent_size = 4

[*.{yml,yaml,json,properties,css,scss}]
tab_width = 2
indent_size = 2

[*.txt]
max_line_length = off
insert_final_newline = false

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.proto]
tab_width = 2
indent_size = 2
max_line_length = 80
